
body {
    font-family: Didot;
    font-size: 12px;
    background-image: url("bg.png");
    background-repeat: repeat no-repeat;
    background-size: cover;
}

#barchart{
  width: 600px;
  margin: 0;
}

#xBar{
  width: 400px;
  height:200px;
  float:left;
}

#yBar{
  width: 600px;
  height:200px;
  margin-left: 200px;
}


#Up {
  width: 600px;
  margin: 0;
}

#scatterplot1 {
  width: 400px;
  height:200px;
  float:left;
}

#scatterplot2 {
  width: 600px;
  height:200px;
  margin-left: 200px;
}

#Down {
  width: 800px;
  margin-top:1;
}

#scatterplot3 {
  width: 400px;
  height:200px;
  float:left;
}

#scatterplot4 {
  width: 600px;
  height:200px;
  margin-left: 200px;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.point {
    fill: #f00;
    stroke: #000;
}

.label {
    text-anchor: middle;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
}

.tooltip {
  position: absolute;
  text-align: center;
  width: 40px;
  height: 30px;
  padding: 5px;
  font: 12px sans-serif;
  background: lightsteelblue;
  border: 0px;
  border-radius: 5px;
  pointer-events: none;
}

.bar {
  fill: purple;
}

.bar:hover{
  fill: yellow;
}
